pre{
  height: 60vh;
  border: 3px black solid;
  border-radius: 10px;
  padding: 20px;
}

.content .row{
  padding-bottom: 4rem;
  border-bottom: 3px black solid;
}

.content h2{
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: black;
  position: sticky;
  top: 0;
  width: 99vw;
  transform: translateX(-26vw);
  padding-left: 1.2em;
  padding-top: 1rem;
}

.content h3{
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
  margin-top: 3rem;
}

.content h4{
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
  margin-top: 2rem;
}

.content p{
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: black;
  margin-top: 1rem;
}

.content img{
  width: 100%;
  margin-top: 2rem;
}

.caption{
  font-size: .8rem;
  margin: 1rem 0 2rem 0;
  color: black;
}

.content a{
  color: black;
  text-decoration: underline;
}

.content a:hover{
  color: red;
}

.content ul{
  padding-left: 20px;
  margin-top: 1rem;
}

.content li{
  font-size: .9rem;
  color: black;
}

.list_col-3{
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

.list_col-1{
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
}

.code{
  margin-top: 2rem;
}

#team{
  margin-top: 2rem;
  border: none;
  justify-content: center;
}

.team_mate {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.6vw;
  width: 15vw;
  padding: 0.6vw;
  border-radius: 10px;
  border: 3px black solid;
}

.team_mate img{
  margin: 0;
  padding: 1rem;
}

.team_mate p{
  font-weight: 600;
}

/* _____________________________________________________Responsive for wide screens */

@media (min-width: 1400px) {
  .content h2{
    font-size: 2.2rem;
  }

  .content h3{
    font-size: 1.7rem;
  }

  .content h4{
    font-size: 1.4rem;
  }

  .content p{
    font-size: 1.2rem;
  }

  .content li{
    font-size: 1.1rem;
  }

  .caption{
    font-size: 1rem;
  }

  pre{
    font-size: 100%;
  }
}
