footer {
    margin-top: 3rem;
    padding: 0 1rem; 
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    font-size: 1rem;
}

footer * {
    grid-column: span 1;
}

.logo {
    display: grid;
    grid-template-columns: repeat(2, 65px);
    column-gap: 0.5rem;
}

.logo * {
    grid-column: span 1;
}

.icon {
    vertical-align: bottom;
    padding-bottom: 0.6rem;
}

footer img {
    height: 50px;
    width: auto;
}

footer h1 {
    margin: 0 0 1rem 0;
    font-size: 0.8rem;
    text-transform: uppercase;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
    margin: 0;
    line-height: 1.5;
}